/* create a random object called body with text properties in it */
body {
    color: #fff;
    font-family: Arial;
    text-decoration: underline;
    background: linear-gradient(45deg, red, blue, green);
    background-size: 750% 500%;
}

/* relative unit objects */
.object {
    font-size: 1em;
}

.vw {
    width: 10vw;
}

.hw {
    height: 10vh;
}

/*absolute unit objects */

.px{
    width: 200px;
}
  
.cm {
    width: 1cm;
}

.mm {
    width: 10mm;
}

/*long hand*/
.box1 {
    width: 350px;
    height: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}


/*short hand*/
.box2 {
    width: 350px;
    height: 150px;
    margin: 10px 10px 10px 10px;
    padding: 25px 25px 25px 25px; 
    border: 5px solid black;
    border-radius: 5px;
  }